<div style="text-align: center;{% if include.order == 2 %} border-top: 1px solid #ccc; padding-top: 1em;{% elsif include.order < 2 %}  border-bottom: 1px solid #ccc; padding-bottom: 1em; {% endif %}">
    {% assign next = nil %}
    {% for np in site.categories.howto %}
	{% if np.categories contains 'git' and np.title != page.title and np.level == page.level %}
	    {% assign next = np %}
	{% endif %}
	{% if np.title == page.title %}
	    {% break %}
	{% endif %}
    {% endfor %}
    
    {% assign prev = nil %}
    {% for pp in site.categories.howto reversed %}
	{% if pp.categories contains 'git' and pp.title != page.title and pp.level == page.level %}
	    {% assign prev = pp %}
	{% endif %}
	{% if pp.title == page.title %}
	    {% break %}
	{% endif %}
    {% endfor %}
    
    <span style="display: inline-block; float: left; width: 80px; background-color: #d8d8d8">
	{% if prev != nil %}
	    <a href="{{ prev.url }}" title="{{ prev.title }}">previous</a>
	{% else %}
	    <a href="/git/" title="back to Git Blog">home</a>
	{% endif %}
    </span>
    
    {% unless include.order == 0 %}
	<a style="display: inline-block; width: 80px; background-color: #d8d8d8" href="{{ page.url }}">top</a>
    {% else %}
	<span style="display: inline-block;"> </span>
    {% endunless %}
    
    <span style="display: inline-block; float: right; width: 80px; background-color: #d8d8d8">
	{% if next != nil %}
	    <a href="{{ next.url }}" title="{{ next.title }}">next</a>
	{% else %}
	    <a href="/git/" title="back to Git Blog">home</a>
	{% endif %}
    </span>
</div><br/>