---
---

@import "{{ site.theme }}";

blockquote {
    margin-left: 12px;
    padding-left: 8px;
    border-left: 1px solid #828282;
}

body {
    background-color: #eeeeee;
}

code {
    font-family: monospace;
    display: inline-block;
    background-color: #e2e2e2;
    padding-left: 2px;
    padding-right: 2px;
    font-style: normal;
    font-weight: normal;
}

pre code {
    font-family: monospace;
    color:#000;
    font-size:14px;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}