---
layout: default
---

<div class="post">
    <script>
        var mx, my;
        document.onmousemove = function(e) {
            mx = e.pageX;
            my = e.pageY;
        }
        function show(id) {
            document.getElementById(id).style.display = "block";
            document.getElementById(id).style.left = (mx+15) + "px";
            document.getElementById(id).style.right = (my+15) + "px";
        }
        function hide(id) {
            document.getElementById(id).style.display = "none";
        }
    </script>
    <h2>How To: {{ page.title }}</h2>
    <br/>
    {% assign fn_count = 0 %}
    {% for fn in page.tags %}
        {% for rp in site.categories.git %}
            {% if rp.tags contains 'def' and rp.categories contains fn %}
		{% assign fn_count = fn_count | plus: 1 %}
	    {% endif %}
	{% endfor %}
    {% endfor %}
    
    {% if fn_count > 0 %}
	related functions:<br/>
	{% for fn in page.tags %}
	    {% for rp in site.categories.git %}
		{% if rp.tags contains 'def' and rp.categories contains fn %}
		    <span onmouseenter="show('def_{{ fn }}')" onmouseleave="hide('def_{{ fn }}')" style="margin-right: 20px";>
			<a href="#r_{{ fn }}">{{ rp.title }}</a>
		    </span>
		    <div id="def_{{ fn }}" style="display: none; border: 1px solid #cccccc; padding: 5px; z-index: 10; position: fixed; min-width: 100px; max-width: 400px; background-color: silver;">
			{{ rp.content | markdownify }}
		    </div>
		{% endif %}
	    {% endfor %}
	{% endfor %}
    {% endif %}
    
    <div id="post_content" style="border-top: 1px solid #cccccc; padding-top: 15px; margin-top: 10px; border-bottom: 1px solid #cccccc; padding-bottom: 15px; margin-bottom: 10px;">
        {{ content }}
    </div>
    
    {% if fn_count > 0 %}
	<div id="fn_remind">
	    <h2>Reminder</h2>
	    {% for fn in page.tags %}
		{% for rp in site.categories.git %}
		    {% if rp.tags contains page.level and rp.categories contains fn %}
			<a href="/git/cmd/{{ rp.title }}.html"><h3 id="r_{{ fn }}">{{ rp.title }}</h3></a>
			<div>{{ rp.content | markdownify }}</div>
		    {% endif %}
		{% endfor %}
	    {% endfor %}
	</div>
    {% endif %}
</div>
